.journal{
    background-color: white;
    position: absolute;
    width: 60%;
    height: 70%;
    left: 10%;
    top: 15%;
    border-radius: 30px;
    text-align: left;
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 6%);
}

.journal p{
    margin-left: 7%;
    margin-top: 7%;
}

.journalEntry{
    border-radius: 30px;
    border: solid rgba(128, 128, 128, 0.503) 2px;
    margin: 0% 7%;
    padding: 33% 40%;
}