.journal{
    color: dimgray;
    background-color: white;
    position: absolute;
    width: 45%;
    height: 660px;
    left: 18%;
    top: 15%;
    border-radius: 30px;
    text-align: left;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.534);
    outline: 3px solid #e5e5e5;
}

.journal p{
    margin-left: 30px;
    margin-top: 30px;
}

.journalEntry{
    border-radius: 30px;
    border: solid rgba(128, 128, 128, 0.503) 2px;
    margin: 2% 5%;
    padding: 35% 15%;
}

h2{
    margin-top: 6%;
}