.NavBar {
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: right;
    align-items: center;
}

.NavBar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.NavBar nav ul li {
    display: inline-block;
    margin: 1.5vw;
}

.NavBar nav ul li a {
    text-decoration: none;
    color: black;
}

.NavBar nav ul li a:hover {
    cursor: pointer;
}

.NavBar nav ul li button {
    background-color: #58D0C5;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 7px;
    width: 100px;
    cursor: pointer;
    margin-right: 20px;
    box-shadow: 5px 3px 3px gainsboro;
    border: none;
}