.Footer {
    position: relative;
    bottom: 0;
    width: 95%;
    margin-top: 3%;
    height: 60px;
    background: #35322E;

}
.extraLinks{
    margin-left: -5%;
}
.Footer nav {
    display: flex;
    justify-content: space-between;
}

.Footer .Description {
    color: white;
}

.Footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Footer nav ul li {
    display: inline-block;
    margin: 1.3vw;
}

.Footer nav ul li a {
    text-decoration: none;
    color: white;
}

.Footer nav ul li a:hover {
    cursor: pointer;
}