body {
    background-color: #FFBF69
}

.card {
    position: absolute;
    width: 25%;
    height: 370px;
    left: 40%;
    top: 25%;

    background: white;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
}

.text {
    padding: 1%;
    margin-top: 20%;
}