body {
    background-color: #FFBF69
}

.card {
    position: absolute;
    width: 40%;
    height: 584px;
    left: 30%;
    top: 15%;

    background: white;
    border-radius: 30px;
    text-align: center;
    justify-content: center;

}