.DayCounter {
    background-color: white;
    border-radius: 15px;
    width: 17%;
    height: 220px;

    display: grid;
    justify-items: center;
    align-items: center;

    float: right;
    margin: 5%;
}

h1, h2 {
    font-weight: normal;
    text-align: center;
}